/* Custom DataTables styling */
table.dataTable thead th {
    background-color: #576fdb;
    color: white;
    font-weight: 300;
}

table.dataTable tbody tr {
    background-color: #f8f9fa;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

table.dataTable tbody tr:hover {
    background-color: #dee2e6;
}

table.dataTable {
    border: 1px solid #ababab4a;
    font-size: 11pt;
}
